<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/navbar.css">

</head>
<body>

<nav class="navbar navbar navbar-light navbar-expand-lg" style="background-color: #EAEFEF; height:80px;">
  <a class="navbar-brand" href="/" style="margin-left: 17px;">THE LOOK</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 50%;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id='nav-color' class="nav-link nav-color" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id='nav-color' class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a id='nav-color' class="nav-link nav-color" href="/artist">Artist</a>
      </li>
      <li class="nav-item">
        <a id='nav-color' class="nav-link nav-color" href="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a id='nav-color' class="nav-link nav-color" href="/news">News</a>
      </li>
       <li class="nav-item">
        <a id='nav-color' class="nav-link nav-color" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a id='nav-color' class="nav-link nav-color" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>