<!DOCTYPE html>
<html>
<head>
	<title><%=  title %></title>
	<% include partials/navbar %>
</head>
<body>
	<center style="margin-top: 12%;font-size: 50px;" >Nothing to show...</center>
</body>
</html>