		.split1 {
		  height: 80%;
		  width: 43%;
		  top: 12%;
		  position: fixed;
		  z-index: 1;
		}
		.split2 {
		  height: 80%;
		  width: 71%;
		  position: fixed;
		  z-index: 1;
		}

		.left {
		  left: 0;
		  height: 100vh;
		}
		.right {
		  right: 0;
		  height: 100vh;
		}