.align
{
	width: 700px;
	margin: 160px 0px 0px 290px;
	left: 400px;
	padding : 10px;
	color: black;
}

.center
{
	font-size: 2.5em;
}

.error
{
	color: red;
}

.input
{
	width: 300px;
	margin-left: 190px;
}

.divalign
{
	text-align: center;
}

.form
{
	text-align: center;
	margin-top: 2px;
}

.bg 
{ 
  height: 90%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .form,.form-group,.form-control, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
